<section class="home">
  <section class="intro">
    <div class="container">
      <h1>Improve your self awareness by understanding when your words are <typer words="['sad', 'happy', 'angry', 'neutral']" type-time="60" backspace-time="100" start-delay="1500" ></typer> ?</h1>

      <button ng-hide="main.user" ui-sref="register" class=" btn btn-primary home">Register</button>
    </div>
  </section>
  <section class="contact">
    <div class="container">
      <p>Share how you feel on: <a href="#" class="email">hello@sosohappy.com</a></p>
    </div>
  </section>
</section>
